src/main/resources/runningEvents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://net.com/running-web-service"
           targetNamespace="http://net.com/running-web-service" elementFormDefault="qualified">

    <xs:element name="setUserProfileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="username" />
                <xs:element type="xs:string" name="password" />
                <xs:element type="xs:byte" name="age" />
                <xs:element type="xs:string" name="nationality" />
                <xs:element type="xs:string" name="gender" />
                <xs:element type="xs:string" name="district" />
                <xs:element type="xs:string" name="raceType" />
                <xs:element type="xs:string" name="typeofEvent" />
                <xs:element type="xs:string" name="price" />
                <xs:element type="xs:string" name="organization" />
                <xs:element type="xs:string" name="activityArea" />
                <xs:element type="xs:string" name="standard" />
                <xs:element type="xs:string" name="level" />
                <xs:element type="xs:string" name="startPeriod" />
                <xs:element type="xs:string" name="reward" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setUserProfileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="status" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserProfileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="username" />
                <xs:element type="xs:string" name="token"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getUserProfileResponse" >
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="status" />
                <xs:element name="runningEvent" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="runningEventName" />
                            <xs:element type="xs:string" name="confidence" minOccurs="0"/>
                            <xs:element type="xs:string" name="district" minOccurs="0"/>
                            <xs:element type="xs:string" name="raceType" minOccurs="0"/>
                            <xs:element type="xs:string" name="typeofEvent" minOccurs="0"/>
                            <xs:element type="xs:string" name="price" minOccurs="0"/>
                            <xs:element type="xs:string" name="organization" minOccurs="0"/>
                            <xs:element type="xs:string" name="activityArea" minOccurs="0"/>
                            <xs:element type="xs:string" name="standard" minOccurs="0"/>
                            <xs:element type="xs:string" name="level" minOccurs="0"/>
                            <xs:element type="xs:string" name="startPeriod" minOccurs="0"/>
                            <xs:element type="xs:string" name="reward" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getRecommendEventRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="district" minOccurs="0" />
                <xs:element type="xs:string" name="raceType" minOccurs="0" />
                <xs:element type="xs:string" name="typeofEvent" minOccurs="0" />
                <xs:element type="xs:string" name="price" minOccurs="0" />
                <xs:element type="xs:string" name="organization" minOccurs="0" />
                <xs:element type="xs:string" name="activityArea" minOccurs="0" />
                <xs:element type="xs:string" name="standard" minOccurs="0" />
                <xs:element type="xs:string" name="level" minOccurs="0" />
                <xs:element type="xs:string" name="startPeriod" minOccurs="0" />
                <xs:element type="xs:string" name="reward" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getRecommendEventResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="runningEvent" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="runningEventName" />
                            <xs:element type="xs:string" name="confidence" minOccurs="0"/>
                            <xs:element type="xs:string" name="district" minOccurs="0"/>
                            <xs:element type="xs:string" name="raceType" minOccurs="0"/>
                            <xs:element type="xs:string" name="typeofEvent" minOccurs="0"/>
                            <xs:element type="xs:string" name="price" minOccurs="0"/>
                            <xs:element type="xs:string" name="organization" minOccurs="0"/>
                            <xs:element type="xs:string" name="activityArea" minOccurs="0"/>
                            <xs:element type="xs:string" name="standard" minOccurs="0"/>
                            <xs:element type="xs:string" name="level" minOccurs="0"/>
                            <xs:element type="xs:string" name="startPeriod" minOccurs="0"/>
                            <xs:element type="xs:string" name="reward" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEventRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="district" minOccurs="0" />
                <xs:element type="xs:string" name="raceType" minOccurs="0" />
                <xs:element type="xs:string" name="typeofEvent" minOccurs="0" />
                <xs:element type="xs:string" name="price" minOccurs="0" />
                <xs:element type="xs:string" name="organization" minOccurs="0" />
                <xs:element type="xs:string" name="activityArea" minOccurs="0" />
                <xs:element type="xs:string" name="standard" minOccurs="0" />
                <xs:element type="xs:string" name="level" minOccurs="0" />
                <xs:element type="xs:string" name="startPeriod" minOccurs="0" />
                <xs:element type="xs:string" name="reward" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getEventResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="runningEvent" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="runningEventName" />
                            <xs:element type="xs:string" name="district" minOccurs="0"/>
                            <xs:element type="xs:string" name="raceType" minOccurs="0"/>
                            <xs:element type="xs:string" name="typeofEvent" minOccurs="0"/>
                            <xs:element type="xs:string" name="price" minOccurs="0"/>
                            <xs:element type="xs:string" name="organization" minOccurs="0"/>
                            <xs:element type="xs:string" name="activityArea" minOccurs="0"/>
                            <xs:element type="xs:string" name="standard" minOccurs="0"/>
                            <xs:element type="xs:string" name="level" minOccurs="0"/>
                            <xs:element type="xs:string" name="startPeriod" minOccurs="0"/>
                            <xs:element type="xs:string" name="reward" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllEventsRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllEventsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="runningEvent" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="runningEventName" type="xs:string"/>
                            <xs:element name="district" type="xs:string"/>
                            <xs:element name="raceTypes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="raceType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="typeofEvent" type="xs:string"/>
                            <xs:element name="prices">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="price" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="organization" type="xs:string"/>
                            <xs:element name="activityArea" type="xs:string"/>
                            <xs:element name="standard" type="xs:string"/>
                            <xs:element name="level" type="xs:string"/>
                            <xs:element name="startPeriod" type="xs:string"/>
                            <xs:element name="rewards">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="reward" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="authRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="username" />
                <xs:element type="xs:string" name="password" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="authResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="status" />
                <xs:element type="xs:string" name="token" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>