src/main/resources/runningEvents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://net.com/running-web-service"
           targetNamespace="http://net.com/running-web-service" elementFormDefault="qualified">

    <xs:element name="setUserProfileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="latestRT" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="rehis" minOccurs="0" maxOccurs="3"/>
                <xs:element type="xs:string" name="username" minOccurs="1"/>
                <xs:element type="xs:string" name="password" minOccurs="1"/>
                <xs:element type="xs:byte" name="age" minOccurs="0" maxOccurs="1"/>
                <xs:element name="travelPlaceType" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="nationality" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="gender" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="district" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="raceType" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="typeofEvent" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="price" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="organization" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="activityArea" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="standard" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="level" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="startPeriod" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="reward" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setUserProfileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="status" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserProfileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="username" />
                <xs:element type="xs:string" name="token"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getUserProfileResponse" >
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="status" minOccurs="0"/>
                <xs:element name="latestRT" type="xs:string" minOccurs="0"/>
                <xs:element name="rehis" type="xs:string" minOccurs="0" maxOccurs="3"/>
                <xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
                <xs:element name="district" type="xs:string" minOccurs="0"/>
                <xs:element name="raceType" type="xs:string" minOccurs="0"/>
                <xs:element name="typeofEvent" type="xs:string" minOccurs="0"/>
                <xs:element name="price" type="xs:string" minOccurs="0"/>
                <xs:element name="organization" type="xs:string" minOccurs="0"/>
                <xs:element name="activityArea" type="xs:string" minOccurs="0"/>
                <xs:element name="standard" type="xs:string" minOccurs="0"/>
                <xs:element name="level" type="xs:string" minOccurs="0"/>
                <xs:element name="startPeriod" type="xs:string" minOccurs="0"/>
                <xs:element name="reward" type="xs:string" minOccurs="0"/>
                <xs:element name="runningEvent" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="runningEventName" type="xs:string"/>
                            <xs:element name="confidence" type="xs:string" minOccurs="0"/>
                            <xs:element name="district" type="xs:string"/>
                            <xs:element name="raceTypes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="raceType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="typeofEvent" type="xs:string"/>
                            <xs:element name="prices">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="price" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="organization" type="xs:string"/>
                            <xs:element name="activityArea" type="xs:string"/>
                            <xs:element name="standard" type="xs:string"/>
                            <xs:element name="level" type="xs:string"/>
                            <xs:element name="startPeriod" type="xs:string"/>
                            <xs:element name="rewards">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="reward" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="travelPlace">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="travelPlaceName" type="xs:string"  minOccurs="0"/>
                                        <xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
                                        <xs:element name="district" type="xs:string"  minOccurs="0"/>
                                        <xs:element name="longitude" type="xs:string"  minOccurs="0"/>
                                        <xs:element name="latitude" type="xs:string"  minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="travelPlace" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="travelPlaceName" type="xs:string"  minOccurs="0"/>
                            <xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
                            <xs:element name="district" type="xs:string"  minOccurs="0"/>
                            <xs:element name="longitude" type="xs:string"  minOccurs="0"/>
                            <xs:element name="latitude" type="xs:string"  minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getRecommendEventRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="district" minOccurs="0" />
                <xs:element type="xs:string" name="raceType" minOccurs="0" />
                <xs:element type="xs:string" name="typeofEvent" minOccurs="0" />
                <xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
                <xs:element type="xs:string" name="price" minOccurs="0" />
                <xs:element type="xs:string" name="organization" minOccurs="0" />
                <xs:element type="xs:string" name="activityArea" minOccurs="0" />
                <xs:element type="xs:string" name="standard" minOccurs="0" />
                <xs:element type="xs:string" name="level" minOccurs="0" />
                <xs:element type="xs:string" name="startPeriod" minOccurs="0" />
                <xs:element type="xs:string" name="reward" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getRecommendEventResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="status" minOccurs="0" />
                <xs:element name="runningEvent" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="runningEventName" type="xs:string"/>
                            <xs:element name="confidence" type="xs:string" minOccurs="0"/>
                            <xs:element name="district" type="xs:string"/>
                            <xs:element name="raceTypes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="raceType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="typeofEvent" type="xs:string"/>
                            <xs:element name="prices">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="price" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="organization" type="xs:string"/>
                            <xs:element name="activityArea" type="xs:string"/>
                            <xs:element name="standard" type="xs:string"/>
                            <xs:element name="level" type="xs:string"/>
                            <xs:element name="startPeriod" type="xs:string"/>
                            <xs:element name="rewards">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="reward" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="travelPlace" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="travelPlaceName" type="xs:string"  minOccurs="0"/>
                                        <xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
                                        <xs:element name="district" type="xs:string"  minOccurs="0"/>
                                        <xs:element name="longitude" type="xs:string"  minOccurs="0"/>
                                        <xs:element name="latitude" type="xs:string"  minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="travelPlace" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="travelPlaceName" type="xs:string"  minOccurs="0"/>
                            <xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
                            <xs:element name="district" type="xs:string"  minOccurs="0"/>
                            <xs:element name="longitude" type="xs:string"  minOccurs="0"/>
                            <xs:element name="latitude" type="xs:string"  minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEventRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="district" minOccurs="0" />
                <xs:element type="xs:string" name="raceType" minOccurs="0" />
                <xs:element type="xs:string" name="typeofEvent" minOccurs="0" />
                <xs:element type="xs:string" name="price" minOccurs="0" />
                <xs:element type="xs:string" name="organization" minOccurs="0" />
                <xs:element type="xs:string" name="activityArea" minOccurs="0" />
                <xs:element type="xs:string" name="standard" minOccurs="0" />
                <xs:element type="xs:string" name="level" minOccurs="0" />
                <xs:element type="xs:string" name="startPeriod" minOccurs="0" />
                <xs:element type="xs:string" name="reward" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getEventResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="runningEvent" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="runningEventName" type="xs:string"/>
                            <xs:element name="district" type="xs:string"/>
                            <xs:element name="raceTypes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="raceType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="typeofEvent" type="xs:string"/>
                            <xs:element name="prices">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="price" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="organization" type="xs:string"/>
                            <xs:element name="activityArea" type="xs:string"/>
                            <xs:element name="standard" type="xs:string"/>
                            <xs:element name="level" type="xs:string"/>
                            <xs:element name="startPeriod" type="xs:string"/>
                            <xs:element name="rewards">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="reward" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllEventsRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllEventsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="runningEvent" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="runningEventName" type="xs:string"/>
                            <xs:element name="district" type="xs:string"/>
                            <xs:element name="raceTypes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="raceType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="typeofEvent" type="xs:string"/>
                            <xs:element name="prices">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="price" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="organization" type="xs:string"/>
                            <xs:element name="activityArea" type="xs:string"/>
                            <xs:element name="standard" type="xs:string"/>
                            <xs:element name="level" type="xs:string"/>
                            <xs:element name="startPeriod" type="xs:string"/>
                            <xs:element name="rewards">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="reward" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="authRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="username" />
                <xs:element type="xs:string" name="password" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="authResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="status" />
                <xs:element type="xs:string" name="token" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPlaceNearByRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="runningEventName" type="xs:string"/>
                <xs:element name="radius" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getPlaceNearByResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="travelPlace" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="travelPlaceName" type="xs:string"  minOccurs="0"/>
                            <xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
                            <xs:element name="district" type="xs:string"  minOccurs="0"/>
                            <xs:element name="longitude" type="xs:string"  minOccurs="0"/>
                            <xs:element name="latitude" type="xs:string"  minOccurs="0"/>
                            <xs:element name="distance" type="xs:string"  minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPlaceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="district" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getPlaceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="travelPlace" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="travelPlaceName" type="xs:string" minOccurs="0" />
                            <xs:element name="travelPlaceType" type="xs:string" minOccurs="0" />
                            <xs:element name="district" type="xs:string" minOccurs="0" />
                            <xs:element name="longitude" type="xs:string" minOccurs="0" />
                            <xs:element name="latitude" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPlaceInterestRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="interest" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getPlaceInterestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="travelPlace" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="travelPlaceName" type="xs:string" minOccurs="0" />
                            <xs:element name="travelPlaceType" type="xs:string" minOccurs="0" />
                            <xs:element name="district" type="xs:string" minOccurs="0" />
                            <xs:element name="longitude" type="xs:string" minOccurs="0" />
                            <xs:element name="latitude" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>




</xs:schema>